<html>
    <head>
   
        <link rel="stylesheet" type="text/css" href="/css/every.css">
               
    </head>
    <body>
        <div class="container">
     
                <h3>Degree Successfully Deployed </h3>
                <hr>
                
               
                
                
        </div>
        <div  style="position: relative;max-width: 400px;
  width: 100%;
  margin: 0 auto;">
          {{rollno}}<br>
                {{txhash}}
        </div>

                <div class="container">
         <form method="post" action=/login>
                 <button>Deploy Another Degree </button>
                </form>
        </div>
    </body>
</html>