<html>
    <head>
            
      <link rel="stylesheet" type="text/css" href="/css/every.css">
   

    
       

    </head>
    <body>
            <div class="o">
                   

         </div>
                
                
                <div class="container">
                       
          <form action='v' method="post">
                <h3>VALIDATION</h3>
                    
<legend>Validate Form</legend>
            <fieldset >
            <input text='number' name='rollNo' placeholder="Roll Number" id=1 >
            </fieldset>
            <button>Enter</button>
        </form>
   
    </form>
    </div>
    </body>
</html>